---
layout: sezionelocale
title: Milano

extras:
  - label: Referente
    value: kowalski7cc@linux.it
  - label: Gruppo Telegram
    value: <a href="https://t.me/unixmib">@unixmib</a>
---

<p>
    La Sezione Locale di Milano nasce in primis dagli studenti dell'Università Bicocca, che - anche in virtù del Linux Day - hanno aggregato diverse realtà (anche professionali) attive nel capoluogo meneghino e dintorni.
</p>
