---
layout: sezionelocale
title: Perugia

extras:
  - label: Web
    value: <a href="https://perugia.ils.org/">Clicca Qui</a>

  - label: Referente
    value: francesco.marinucci@linux.it
---

<p>
    ILS Perugia raccogliere l'eredità dell'associazione GNU/LUG Perugia, già da anni attiva sul territorio sia con l'organizzazione del Linux Day che con azioni presso le scuole e le istituzioni locali.
</p>
