---
layout: page
title: Sponsorizzazioni
---

<h1 class="mb-3">{{ page.title }}</h1>

<img src="business.png" class="float-right">

<p>L'associazione di volontariato Italian Linux Society permette alle aziende, di ogni forma e dimensione, che lavorano o sostengono Linux, il Software Libero e l'Open Source, di diventare <strong>sponsor di Italian Linux Society</strong>.</p>

<p>Essere sponsor significa contribuire concretamente alla community, migliorando la propria web reputation e accedendo all'ampio pubblico cui l'Italian Linux Society si rivolge, composto sia da potenziali clienti sensibili al tema che da nuovi pontenziali collaboratori.</p>

<h2>Cosa comprende</h2>

<p>Il contratto di sponsorizzazione standard con Italian Linux Society prevede:<br />

    <ul>
        <li><strong>invito in anteprima</strong> alle iniziative organizzate e promosse da Italian Linux Society, fra cui la conferenza <a href="https://www.linuxday.it/">Linux Day</a> e il <a href="https://merge-it.net/">MERGE-it</a></li>
        <li><strong>pubblicazione del logo</strong> nella pagina degli <a href="/info/#sponsor">sponsor di Italian Linux Society</a> e a rotazione nel footer dei principali siti del network Italian Linux Society (<a href="https://www.linux.it/">linux.it</a>, <a href="https://www.linuxday.it/">linuxday.it</a>, <a href="https://www.ils.org/">ils.org</a> e altri, per un totale di circa 1000 visitatori al giorno)</li>
        <li><strong>visibilità privilegiata</strong> nelle pagine web dedicate ai fornitori di soluzioni libere e open source (fra cui <a href="https://scuola.linux.it/fornitori">scuola.linux.it/fornitori</a>)</li>
        <li><strong>possibilità di pubblicare i casi di successo</strong> o le offerte commerciali delle aziende aderenti nella rubrica dedicata nella newsletter periodica (~4500 iscritti)</li>
        <li>possibilità di veicolare due <strong>annunci di lavoro</strong> tramite:
		<ul>
			<li>newsletter Italian Linux Society (~4500 iscritti)</li>
			<li>social Italian Linux Society (~8500 follower sui soli Facebook, Twitter e Instagram, nelle pagine dell'associazione e del Linux Day)</li>
		</ul>
	<!-- https://servizi.linux.it/shared/4edKCzqJVgkBc0pNO27fX0d5IenO-lsYcap0jShaawF -->
    </ul>

</p>

<h2>Costo</h2>

<p>Quota sponsorizzazione standard: <strong>500 euro</strong> + IVA.</p>

<p>La quota copre un anno di sponsorizzazione ed è un contributo concreto alle attività di divulgazione sul territorio delle <a href="/sezionilocali">sezioni locali di Italian Linux Society</a>, ad iniziative rivolte alla promozione delle soluzioni open source, nonchè alimenta le periodiche <a href="https://donazioni.linux.it/">campagne di sostegno</a> alla produzione di software libero, alla produzione e distribuzione di materiale divulgativo sul software libero.</p>

<h2>Detrazioni fiscali</h2>

<p>Verifica con il tuo commercialista la possibilità di <strong>detrarre questa spesa dalle tasse</strong>.</p>
<p>Attivando la sponsorizzazione riceverai fattura elettronica e relativo contratto da poter inoltrare al commercialista.</p>

<h2>Contatti</h2>

<p>Per attivare una sponsorizzazione o comunque per avere maggiori informazioni, fornisci le seguenti informazioni:<br />

<ul>
	<li>ragione sociale</li>
	<li>indirizzo sede legale, CAP</li>
	<li>indirizzo PEC</li>
	<li>nome e cognome del legale rappresentante</li>
	<li>logo ufficiale (suggeriamo in formato SVG o PNG in alta definizione)</li>
</ul>

Inoltra queste informazioni via e-mail al consiglio direttivo di Italian Linux Society, all'indirizzo <a href="mailto:ils-cd@linux.it">ils-cd@linux.it</a></strong>.
</p>
