---
layout: sezionelocale
title: Rieti

extras:
  - label: Web
    value: <a href="https://rieti.ils.org/">Clicca Qui</a>


  - label: Referente
    value: daniele.scasciafratte@linux.it
---

<p>
    La Sezione Locale di Rieti nasce da un nucleo di persone che in occasionale del Linux Day 2018 si sono aggregate ed hanno poi preso ad organizzare incontri dal vivo e online.
</p>
