<!doctype html>
<html lang="it">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <title>{% assign title_is_not_empty = page.title | is_not_empty %}{% if title_is_not_empty %}{{ page.title }} - {% endif %}{{ site.title }}</title>

    <link rel="icon" href="/assets/images/favicon.svg" type="image/svg+xml" sizes="any">
    <link href="https://www.linux.it/shared/?f=bootstrap.css" rel="stylesheet" type="text/css" />
    <link href="https://www.linux.it/shared/?f=main.css" rel="stylesheet" type="text/css" />
    <link href="/assets/style.css" rel="stylesheet" type="text/css" />

    <script type="text/javascript" src="https://www.linux.it/shared/index.php?f=jquery.js" defer></script>
    <script type="text/javascript" src="https://www.linux.it/shared/index.php?f=bootstrap.js" defer></script>

    <meta name="google-site-verification" content="{{ site.google_verification }}" />

    {% if js != '' %}
        {% for javascript in page.js %}
            <script type="text/javascript" src="{{ javascript }}" defer></script>
        {% endfor %}
    {% endif %}

    {% seo %}
</head>

<body id="page-top" class="{% if page.layout == site.landing_template %}landing {% endif %}">
    {% include nav.html section=section site=site page=page %}
    {{ content | extlinks }}
    {% include footer.html %}
</body>

</html>
