---
layout: sezionelocale
title: Torino

extras:
  - label: Web
    value: <a href="https://torino.ils.org/">Clicca Qui</a>

  - label: Referente
    value: valerio.bozzolan@linux.it

  - label: Telegram
    value: LinuxTorino

  - label: Dove
    value: tutti i mercoledi dalle 18:00 alle 20:00 presso la Casa del Quartiere di via Oddino Morgari 14, Torino
---

<p>
    Quella di Torino è la prima Sezione Locale registrata in Italian Linux Society. Instaurata a gennaio 2020, raccoglie le esperienze del Comitato Linux Day Torino (che dal 2007 organizza l'evento nel capoluogo sabaudo) e dell'associazione Officina Informatica Libera (specializzata in trashware e software libero), coinvolgendo anche membri di WeeeOpen (gruppo studentesco del Politecnico di Torino), Restart Party (collettivo per la riparazione ed il riuso degli oggetti) e diversi altri gruppi locali.
</p>
